@import url(https://fonts.googleapis.com/css2?family=Varela&display=swap);

body {
  font-family: 'Varela', sans-serif;
}
body{
    background-color: rgb(255, 0, 0);
    font-size: 24px;
    color: white;
}